
<link rel="stylesheet" href="schedule.css">


<title>Schedule</title>

<p class="f1-title snip-p">{circuit}</p>

<div class="f1-border--three-right">
<div class="row js-practice-1">
        
    <div class="col-12 upcoming">
        <div class="f1-timetable--row f1-bg--white">
            <p class="f1-timetable--date snip-p">
                <span class="f1-timetable--day">{pDayOne}</span>
                <span class="f1-timetable--month f1-bg--gray2 f1-label f1-color--gray5">{pMonthOne}</span>
            </p>
            <div class="f1-timetable--details">
                <p class="f1-timetable--title snip-p">Libres 1</p>
                <p class="f1-timetable--time f1-color--gray5 snip-p" data-gmt-offset="+03:00"><span class="start-time">{pHourOne}</span><!-- - <span class="end-time">21:00</span>--></p>
            </div>
        </div>
    </div>
</div>
     
<div class="row js-practice-2" data-gmt-offset="+03:00" data-start-time="2022-03-26T20:00:00" data-end-time="2022-03-26T21:00:00">
    
    <div class="col-12 upcoming">
        <div class="f1-timetable--row f1-bg--white">
            <p class="f1-timetable--date snip-p">
                <span class="f1-timetable--day">{pDayTwo}</span>
                <span class="f1-timetable--month f1-bg--gray2 f1-label f1-color--gray5">{pMonthTwo}</span>
            </p>
            <div class="f1-timetable--details">
                <p class="f1-timetable--title snip-p">Libres 2</p>
                <p class="f1-timetable--time f1-color--gray5 snip-p" data-gmt-offset="+03:00"><span class="start-time">{pHourTwo}</span><!-- - <span class="end-time">19:00</span>--></p>
            </div>
        </div>
    </div>
</div>

<div class="row js-practice-3" data-gmt-offset="+03:00" data-start-time="2022-03-26T17:00:00" data-end-time="2022-03-26T18:00:00">

    <div class="col-12 upcoming">
        <div class="f1-timetable--row f1-bg--white">
            <p class="f1-timetable--date snip-p">
                <span class="f1-timetable--day">{pDayThree}</span>
                <span class="f1-timetable--month f1-bg--gray2 f1-label f1-color--gray5">{pMonthThree}</span>
            </p>
            <div class="f1-timetable--details">
                <p class="f1-timetable--title snip-p">Libres 3</p>
                <p class="f1-timetable--time f1-color--gray5 snip-p" data-gmt-offset="+03:00"><span class="start-time">{pHourThree}</span><!-- - <span class="end-time">16:00</span>--></p>
            </div>
        </div>
    </div>
</div>

<div class="row js-qualifying" data-gmt-offset="+03:00" data-start-time="2022-03-25T20:00:00" data-end-time="2022-03-25T21:00:00">
   
    <div class="col-12 upcoming">
        <div class="f1-timetable--row f1-bg--white">
            <p class="f1-timetable--date snip-p">
                <span class="f1-timetable--day">{qDay}</span>
                <span class="f1-timetable--month f1-bg--gray2 f1-label f1-color--gray5">{qMonth}</span>
            </p>
            <div class="f1-timetable--details">
                <p class="f1-timetable--title snip-p">Clasificaci&oacute;n</p>
                <p class="f1-timetable--time f1-color--gray5 snip-p" data-gmt-offset="+03:00"><span class="start-time">{qHour}</span><!-- - <span class="end-time">19:00</span>--></p>
            </div>
        </div>
    </div>
</div>
        
<div class="row js-race" data-gmt-offset="+03:00" data-start-time="2022-03-25T17:00:00" data-end-time="2022-03-25T18:00:00">
    
    <div class="col-12 upcoming">
        <div class="f1-timetable--row f1-bg--white">
            <p class="f1-timetable--date snip-p">
                <span class="f1-timetable--day">{rDay}</span>
                <span class="f1-timetable--month f1-bg--gray2 f1-label f1-color--gray5">{rMonth}</span>
            </p>
            <div class="f1-timetable--details">
                <p class="f1-timetable--title snip-p">Carrera</p>
                <p class="f1-timetable--time f1-color--gray5 snip-p" data-gmt-offset="+03:00"><span class="start-time">{rHour}</span><!-- - <span class="end-time">16:00</span>--></p>
            </div>
        </div>
    </div>
    </div>
</div>
</div>